# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# local config and cache
config.json
cache.json

# IntelliJ based IDEs
.idea

# Compiled binaries
flex-darwin-x64
flex-windows-x64.exe
flex.exe
*.old

# Finder (MacOS) folder config
.DS_Store
